package layouts;

import "github.com/CalumMackenzie-Chambers/templ-test/templates/components"

templ BaseLayout() {
	<!DOCTYPE html>
	<html lang="en">
		@Head("Templ Test", "This is me testing templ. This should be the meta description")
		<body>
			@components.Hello("calum")
		</body>
	</html>
}

